.inputSearch {
  margin-left: 308px;
  margin-right: 308px;
  margin-top: 144px;
  margin-bottom: 0px;
  background-color: #2f2f43;
  width: 824px;
  height: 72px;
  border-width: 0px;
  border-radius: 8px;
}

.bg_home {
  height: 3048px;
  width: 100vw;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #161625;
  display: flex;
  flex-direction: column;
}

.present_status_container {
  margin-top: 112px;
  margin-left: 212px;
  display: flex;
  flex-direction: row;
}

.present_1 {
  display: flex;
  flex-direction: column;
  width: 139px;
  height: 142px;
  align-items: center;
}

.status_container {
  display: flex;
  flex-direction: row;
}

.confirmed_heading1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff073a;
}
.active_heading1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #007bff;
}
.recovered_heading1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #28a745;
}
.deseased_heading1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6c757d;
}

.confirmed_img {
  width: 38px;
  height: 38px;
}

@media (max-width: 799px) {
  .bg_home {
    height: 2930px;
  }
  .inputSearch {
    height: 48px;
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
  }
  .present_status_container {
    margin-top: 48px;
    margin-left: 15%;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .present_1 {
    display: flex;
    flex-direction: column;
    width: 93px;
    height: 96px;
    align-items: center;
  }
  .confirmed_heading1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ff073a;
  }
  .active_heading1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #007bff;
  }
  .recovered_heading1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #28a745;
  }
  .deseased_heading1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6c757d;
  }

  .confirmed_img {
    width: 24px;
    height: 24px;
  }
  .confirmed_stats {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ff073a;
  }
  .active_stats {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #007bff;
  }
  .recovered_stats {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #28a745;
  }
  .deceased_stats {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6c757d;
  }
  .present_1 {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  .status_container {
    justify-content: space-around;
  }
  .status_4 {
    align-items: center;
  }
}
